@use "../abstract/colors" as *;
@use "../abstract/mixin" as *;

.chatWindow_container {
  border: 3px solid $box_outline;
  padding: 5px;
  height: 100vh;
}

.chatWindow_input {
  @include flex_center;
  flex-direction: row;

  .inputField {
    width: 100%;
  }
}

.addIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sendIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  rotate: -45deg;
}
