@use "../abstract/mixin" as *;
@use "../abstract/colors" as *;

.chatContacts_container {
  @include flex_center;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 25px;
}

.chatContacts_name {
  cursor: pointer;
  border: 3px solid $box_outline;
  background-color: $main_color;
  color: $background_color;
  border-radius: 15px;
  padding: 3px;
}

.chatContacts_avatar--picture {
  width: 30px;
  height: 30px;
}
