@use "../abstract/colors" as *;
@use "../abstract/mixin" as *;

.chatWindow_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 3px solid $box_outline;
  padding: 5px;
}

.chatWindow_header {
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 3px solid $box_outline;
  background-color: $background_color;
  max-height: 11%;
  min-height: 11%;
}

.chatWindow--body {
  overflow-y: auto;
  flex-grow: 1;
  margin-bottom: 15px;
  @include flex_center;
  flex-direction: column;
}
.chatWindow--empty {
  @include flex_center;
  align-self: center;
  flex-direction: column;
  padding: 25% 10%;
  gap: 15px;
  height: 100%;
  width: 100%;
  color: $main_color;
  font-size: 24px;
  font-weight: 600;

  .chatWindow--empty_text {
    spacing: 1.5;
  }
}

.chatWindow_input {
  @include flex_center;
  position: sticky;
  bottom: 0;
  margin-top: 15px;

  .imagePreview {
    position: absolute;
    top: -120px;
    left: 0;
    max-width: 200px;
    max-height: 200px;
  }

  .inputField {
    width: 100%;
  }
}

.chatWindow--title {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 18px;
  padding: 10px;

  &_text {
    @include flex_center;
  }
}

.addIcon,
.sendIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sendIcon {
  rotate: -45deg;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background: $box_outline;
}

::-webkit-scrollbar-thumb {
  background: $main_color;
}

::-webkit-scrollbar-thumb:hover {
  background: $blue;
}
