@use "../abstract/colors" as *;
@use "../abstract/mixin" as *;

.sideBar_container {
  padding: 15px;
  padding-left: 0px;
  border: 3px solid $box_outline;
  border-right: 0px;
  height: 100vh;
  padding: 5px;
  overflow: hidden;

  .search_input {
    width: 100%;
    outline: none;
  }
}

.sideBar_header {
  @include flex_center;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.sideBar_title {
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 600;
  color: $main_color;
  padding: 5px;
  border-bottom: 3px solid $box_outline;

  position: sticky;
  min-height: 11%;
  max-height: 11%;
}

.sideBar_footer {
  @include flex_center;
  border-top: 3px solid $box_outline;
  justify-content: space-between;
  position: sticky;
  height: 10%;
  background-color: $background_color;
  bottom: 0;
  padding: 5px;
  gap: 50px;
  &--settings {
    .sideBar_settings--icon {
      width: 24px;
      height: 24px;
    }
  }
  &--language {
    .sideBar_language--icon {
      width: 24px;
      height: 24px;
    }
  }
}

.sideBar_body_title {
  margin-bottom: 10px;
}
.sideBar_body {
  padding: 5px;
  height: 80%;
  overflow-y: auto;

  ul {
    padding-left: 0rem;
  }
}

.searchSection {
  margin-bottom: 15px;
}
.signOut_button {
  position: relative;
  cursor: pointer;
}
