@use "../abstract/colors" as *;

$font: Plus Jakarta Sans !default;
$font-size: 14px !default;
$font-weight: 400 !default;
$line-height: 140% !default;
$letter-spacing: 0.4 !default;

body {
  font-family: $font;
  color: $main_color;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

.title {
  font-size: 24px;
  //   color: $title_color;
  font-weight: 600;

  &--form {
    @extend .title;
    align-self: flex-start;
  }
}

.links_text {
  font-size: 16px;
  color: $blue;

  &--room {
    @extend .links_text;
    color: $main_color;

    &.theme-default {
      color: #fff;
    }

    &.theme-light {
      color: black;
    }
  }
}

.header {
  font-size: 20px;
  font-weight: 600;
  //   color: $title_color;
}

.input_Form {
  font-size: 21px;
  //   color: $title_color;
  font-weight: 600;
  &--header {
    @extend .input_Form;
    font-size: 50px;
  }
}

.error_text {
  font-size: 14px;
  color: red;
  font-weight: 600;
}
